body {
    background-color: rgba(0, 0, 0, 0.3);
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: darkolivegreen;
    text-align: center;
    margin-bottom: 20px;
}
.Container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;
}

.Card {
    width: 300px;
    height: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.FundoImg {
    border-radius: 2%;
    height: 140px;
    width: 300px;
}

.Card h2 {
    color: rgb(63, 78, 3);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-align: center;
}

.FotoPerfil {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -45px;
}

.FotoPerfil img {
    border-radius: 50%;
    height: 80px;
}

.Card p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    text-align: center;
    font-size: 14px;
}

.icons {
    margin-top: 10px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    gap: 80px;
}

.FundoIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 10px 0;
}